<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button menu="first">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <ion-list  lines="full">
    <ion-item *ngFor="let comp of componentes" [routerLink]="comp.route" detail >
      <ion-icon slot="start" [name]="comp.icon"></ion-icon>
      <ion-label>
        {{comp.name}}
      </ion-label>
    </ion-item>
  </ion-list>

 <!--  <ion-button color="primary" [routerLink]="['/alert']" >Alert</ion-button>
  <ion-button color="success" [routerLink]="['/action-sheet']" >Action Sheet</ion-button> -->
</ion-content>
